<div id="index" class="container-fluid">
	<div class="row">
		<div id="slides" data-stellar-ratio=".25">
			<div class="slides-container">
				<img src="/assets/index_bg01.jpg" alt="">
				<img src="/assets/index_bg02.jpg" alt="">
				<img src="/assets/index_bg03.jpg" alt="">
			</div>
			<nav class="slides-navigation">
			    <a href="#" class="next"><i class="fa fa-chevron-right"></i></a>
			    <a href="#" class="prev"><i class="fa fa-chevron-left"></i></a>
			</nav>
		</div>
	</div>
	<div id="header-status">
		<div class="container-fluid">
			<div class="row">
				<div class="status-bar">
					<div class="container">
						<div class="row">
							<div class="logo-container">
								<img class="logo" src="/assets/dchealth_logo.png" />
								<h1>DC Health Matters</h1>
							</div>
							<div class="link-list">
								<div class="link share"><a href="#share"><img src="/assets/nav_share.png" /></a></div>
								<div class="link connect"><a href="#connect"><img src="/assets/nav_connect.png" /></a></div>
								<div class="link locate"><a href="#locate"><img src="/assets/nav_locate.png" /></a></div>
								<div class="link data"><a href="#data"><img src="/assets/nav_data.png" /></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="home">
	<div class="container">
		<a class="scroll-down" href="#header"><span>scroll down for...<br><i class="fa fa-chevron-down"></i></span></a>
	</div>
</div>

<%= render 'layouts/header' %>
<%= render 'main/data' %>
<%= render 'main/locate' %>
<%= render 'main/connect' %>
<%= render 'main/share' %>
