<div id="index" class="container-fluid">
	<div id="header-status">
		<div class="container-fluid">
			<div class="row">
				<div class="status-bar">
					<div class="container">
						<div class="row">
							<div class="logo-container">
								<img class="logo" src="/assets/dchealth_logo.png" />
								<h1>DC Health Matters</h1>
							</div>
							<div class="link-list">
								<div class="link data"><a href="#data">Find<br><span>Data</span></a></div>
								<div class="link locate"><a href="#locate">Locate<br><span>Promising Practices</span></a></div>
								<div class="link connect"><a href="#connect">Connect To<br><span>Resources & Funding</span></a></div>
								<div class="link share"><a href="#share">Share &<br><span>Take Action</span></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="home">
	<div class="container">
		<div class="row">
			<div class="home-text col-sm-12">
				<h1><em>Welcome to</em><br>DC Health Matters</h1>
				<h2>
					A one-stop resource for community health indicators and related resources that impact the health of DC communities
				</h2>
			</div>
		</div>
		<a class="scroll-down" href="#header"><span>scroll down for...<br><i class="fa fa-chevron-down"></i></span></a>
	</div>
</div>

<%= render 'layouts/header' %>
<%= render 'main/data' %>
<%= render 'main/locate' %>
<%= render 'main/connect' %>
<%= render 'main/share' %>
